#root {
  width: 100vw;
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  margin: 0 auto;
  background-color: pink;
  height: 100vh;
  text-align: center;
}

.player {
  border: 2px solid black;
  background-color: aliceblue;
  margin: 20px;
}
#game {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.scores {
  width: 100%;

  background-color: rgb(255, 255, 255);
  padding-bottom: 2px;
}
button {
  margin: 3px;
  border-color: blueviolet;
}
#scoresErea {
  border: 1px solid black;
  width: 50%;
  margin-top: 20px;
}
